
<div class="well row">
    <div class="col-xs-12 col-lg-6 form-group">
        <label for="StartDate">Start Date</label>
        <input ng-model="explorer.svc.searchParams.startDate" type="date" class="form-control" ng-change="explorer.svc.query()" />
    </div>
    <div class="col-xs-12 col-lg-6 form-group">
        <label for="StartDate">End Date</label>
        <input ng-model="explorer.svc.searchParams.endDate" type="date" class="form-control" ng-change="explorer.svc.query()" />
    </div>
</div>
<div ui-grid="explorer.gridOptions" class="grid" ui-grid-save-state ui-grid-resize-columns ui-grid-grouping ui-grid-selection ></div>
<div class="form-group text-center">
    <a href="#/TransactionExplorer/Create" class="btn btn-primary">Add transaction</a>
</div>