@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="ct">
<head>
    <meta charset="utf-8" />
    <title>CashTea</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> @*add this? user-scalable=no*@        
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    @Scripts.Render("~/bundles/angular")
    
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">CT</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../getting-started">Getting started</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container" ng-controller="transCtrl">
        <div ng-repeat="trans in transactions">
            {{trans.TransactionID}}
            <input ng-model="trans.Description" />
            <button class="btn" ng-click="update(trans)">save</button>
            {{trans.Description}}
        </div>
    </div>
</body>
</html>
