<div class="well col-xs-12"  data-spy="affix" data-offset-top="60" data-offset-bottom="200" style="z-index:10001">
    <div class="col-xs-12 col-sm-6">
        <input class="form-control" ng-model="analysis.searchParams.startDate" type="date" placeholder="Start Date" ng-change="analysis.refresh()" />
    </div>
    <div class="col-xs-12 col-sm-6">
        <input class="form-control" ng-model="analysis.searchParams.endDate" type="date" placeholder="End Date"  ng-change="analysis.refresh()" />
    </div>
    <div class="col-xs-3">
        <input type="checkbox" ng-model="analysis.showSnapshotHistory" ng-change="analysis.balanceHistory()" /> Cash Available
    </div>
    <div class="col-xs-3">
        <input type="checkbox" ng-model="analysis.showIncomeExpenseHistory" ng-change="analysis.incomeVsExpenseHistory()" /> Income vs Expenses
    </div>
    <div class="col-xs-3">
        <input type="checkbox" ng-model="analysis.showCategoryHistory" ng-change="analysis.categoryHistory()" /> Categories
    </div>
    <div class="col-xs-3">
        <input type="checkbox" ng-model="analysis.showUncreconciledHistory" ng-change="analysis.unreconciledHistory()" /> Unreconciled Amount
    </div>
    
</div>


<div class="row text-center" ng-show="analysis.showSnapshotHistory">
    <i class="fa fa-spin fa-refresh" ng-show="analysis.loadingBalanceHistory"></i>
    <div id="snapshotHistory" style="width:100%; height:400px;"></div>
</div>


<div class="row text-center" ng-show="analysis.showIncomeExpenseHistory" style="margin:25px 0 25px 0;">
    <div class="col-xs-12">  
        <i class="fa fa-spin fa-refresh" ng-show="analysis.loadingIncomeVsExpenseHistory"></i>      
        <div id="incomeVsExpenseHistory" style="width:100%; height:400px;"></div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <h4>Avg Income</h4>
            <strong><small>{{analysis.incomeVsExpenseSummary.avgIncome | currency}}</small></strong>
        </div>
        <div class="col-xs-4">
            <h4>Avg Expenses</h4>
            <strong><small>{{analysis.incomeVsExpenseSummary.avgExpenses | currency}}</small></strong>
        </div>
        <div class="col-xs-4">
            <h4>Avg Surplus</h4>
            <strong><small>{{analysis.incomeVsExpenseSummary.avgIncome - analysis.incomeVsExpenseSummary.avgExpenses | currency}}</small></strong>
        </div>
    </div>
</div>


<div class="row text-center" ng-show="analysis.showCategoryHistory">
    <i class="fa fa-spin fa-refresh" ng-show="analysis.loadingCategoryHistory"></i>
    <div class="col-xs-12">
        <div id="categoryHistory" style="width:100%; height:400px;"></div>
    </div>
    <div class="col-xs-12" style="margin:25px 0 25px 0;">
        <div ui-grid="analysis.categoryGridOptions" class="grid" ui-grid-resize-columns></div>
    </div>
</div>

